/* css/main.css */

/* 1. BASE: Configurações globais e variáveis */
@import url('./base/base.css');

/* 2. LAYOUT: Estrutura macro (Header, Nav, Container) */
@import url('./layout/layout.css');

/* 3. COMPONENTS: Elementos reutilizáveis (Botões, Modais, Inputs Gerais) */
@import url('./components/components.css');

/* 4. PAGES: Estilos específicos de cada tela (Cards de treino, Timer) */
@import url('./pages/pages.css');